<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}">
    <style>
        body {
            background: #007ba7;
        }

        div {
            background: #B0E0E6;
        }
    </style>
</head>
<body>
<div align="center" style="position: absolute; width: 50%; left: 25%; top: 100px; border: 2px solid black;">
    <h1 style="margin: 5%;">Войти</h1>
    {% if error %}
        <div style="color:red; margin: 5%;">{{ error }}</div>
    {% endif %}
    <div style="position: absolut; left: 500px; margin: 5%;">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <h1><input style="margin: 5%; width: 100px; height: 40px;" type="submit" value="Войти"></h1>
        </form>
    </div>
<button style="margin-bottom: 2%; width: 100px; height: 40px;"><a href="{% url 'main' %}">На главную</a></button>
</div>
</body>
</html>